.navbar-logo {
  cursor: pointer;
}

.link:hover,
.active {
  transform: scale(1.1) !important;
}

.link {
  margin: 0.6em 0.9em !important;
}

.nav-list {
  background-color: var(--light-green) !important;
}

.navbar {
  background-color: var(--light-blue) !important;
}

.navbar-logo,
.nav-burger,
.btn-register,
.btn-login {
  color: var(--black) !important;
  font-weight: 700 !important;
}

.btn-register {
  background-color: var(--primary) !important ;
}

.btn-login {
  background-color: var(--secondary) !important ;
}

.btn-register:hover,
.btn-login:hover {
  color: var(--white) !important;
}

.btn-register:hover {
  background-color: var(--secondary)!important ;
}

.btn-login:hover {
  background-color: var(--primary) !important ;
}

header {
  height: 10vh;
}